$main-blue: #0064ff;
$main-grey: #3f3f3f;
html,
body {
  min-height: 100vh;
  .container {
    width: 50vw;
    max-width: 600px;
    height: 90vh;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 30px;

    header {
      margin: 2rem;
      h1 {
        color: $main-blue;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .todo-box {
      // display: flex;

      // justify-content: center;
      // align-items: center;
      // width: 100%;
      border: 1px solid red;
      // margin: 0 auto;

      .todo-add-input {
        width: 90%;
        height: 2rem;
        font-size: 1.5rem;
        display: block;
        margin: 0 auto;
        padding: 0 15px;
        outline: none;
        // border: none;
        border-bottom: 2px solid $main-grey;
        box-sizing: border-box;
      }
      .todo-list {
        border: 1px solid green;
        margin: 1rem;
        padding: 1rem;
        list-style: none;
        .todo-item {
          margin: 1rem;
          border: 1px solid orange;
          // display: flex;
          input {
            border: none;
            border-bottom: 1px solid $main-blue;
          }
        }
      }

      .btn {
        background-color: $main-blue;
        // outline: none;
        border: 1px solid $main-blue;
        border-radius: 2px;
        color: #fff;
      }
    }
  }
}
