$main-blue: #0064ff;
$main-grey: #3f3f3f;
html,
body {
  min-height: 100vh;
  background-color: #d8dfe6;
  .container {
    width: 70vw;
    min-width: 350px;
    max-width: 600px;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    header {
      border-bottom: 3px solid rgb(209, 209, 209);
      h1 {
        margin: 2rem;
        color: $main-blue;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .todo-box {
      // border: 1px solid red;
      width: 100%;
      .todo-add {
        display: block;
        margin: 0;
        &:focus,
        &:hover {
          background-color: #dae6f6;
        }
        .todo-add-input {
          display: block;
          width: 95%;
          height: 3rem;
          font-size: 2rem;
          font-weight: 400;
          color: $main-grey;
          margin: 1rem;

          appearance: none;
          outline: none;
          border: none;
          border-left: 2px solid $main-grey;
          box-sizing: border-box;
          background-color: transparent;
        }
      }
      h2 {
        color: #0064ff;
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 1.4rem;
      }
      .todo-list {
        padding: 1rem;
        list-style: none;
        .todo-item {
          padding: 1rem;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          .item-check {
            &:checked {
              color: #3f3f3f;
              font-style: italic;
              color: #d8dfe6;
              text-decoration: line-through;
            }
          }
          .todo-title {
            border-bottom: 1px solid $main-blue;
            margin-left: 1rem;
            flex-grow: 1;
            height: 30px;
          }
          .btn {
            height: 30px;
            margin-left: 1rem;
            padding: 0.5rem;
          }
        }
      }

      .btn {
        background-color: $main-blue;
        // outline: none;
        border: 1px solid $main-blue;
        border-radius: 2px;
        color: #fff;
        &:hover {
          background-color: rgba($color: $main-blue, $alpha: 0.6);
        }
      }
    }
  }
}
