$main-blue: #0064ff;
$main-grey: #3f3f3f;
html,
body {
  min-height: 100vh;
  background-color: #d8dfe6;
  .container {
    width: 70vw;
    min-width: 350px;
    max-width: 600px;
    height: 90vh;
    margin: 20px auto;
    // border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    header {
      h1 {
        margin: 2rem;
        color: $main-blue;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .todo-box {
      border: 1px solid red;
      width: 100%;
      .todo-add {
        display: block;
        margin: 0;
        // width: 100%;
        // background-color: orange;
        .todo-add-input {
          display: block;
          width: 100%;
          height: 2rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: $main-grey;
          margin: 1rem;
          padding: 0 15px;
          appearance: none;
          outline: none;
          border: none;
          border-left: 2px solid $main-grey;
          box-sizing: border-box;
          background-color: transparent;
          &:focus,
          &:hover {
            background-color: #dae6f6;
          }
        }
      }
      h2 {
        color: #0064ff;
        margin-left: 2rem;
      }
      .todo-list {
        border: 1px solid green;
        padding: 1rem;
        list-style: none;
        .todo-item {
          margin: 1rem;
          border: 1px solid orange;
          input {
            border: none;
            border-bottom: 1px solid $main-blue;
          }
        }
      }

      .btn {
        background-color: $main-blue;
        // outline: none;
        border: 1px solid $main-blue;
        border-radius: 2px;
        color: #fff;
      }
    }
  }
}
